[user]
	name = Terry Schneider
	email = tschneider@firebend.com

[alias]
	st = status
	co = checkout
	cb = checkout -b
	bl = branch -l
	ac = "!z() { git add -A && git commit --message=\"$*\"; }; z"
	po = !git push -u origin $(git rev-parse --abbrev-ref HEAD)
	mm = "!z() { curr=$(git rev-parse --abbrev-ref HEAD) && git co master && git pull && git co $curr && git merge master; }; z"
	pr = !git fetch && git diff origin/master
	back = "!z() { git reset --mixed HEAD~${1:-1}; }; z"
	cleanup = !git remote prune origin && git gc
	delete-branch = branch -D

[core]
	autocrlf = input
[merge]
	tool = smerge
[diff]
	tool = smerge
[difftool "smerge"]
	cmd = smerge .
	prompt = false
[mergetool]
	trustExitCode = true
	prompt = false
	keepBackup = false
[mergetool "smerge"]
	cmd = smerge mergetool "$BASE" "$LOCAL" "$REMOTE" - "$MERGED"
[credential]
	helper = osxkeychain
[push]
	autoSetupRemote = true
